.all-workouts-container {
    display: flex;

}

.workout-container {
    border: black solid 1px;
    margin-bottom: 10px;
    width: fit-content;
    margin-right: 15px;
}

.edit-delete-button {
    background-color: #202353;
    color: white;
    margin: 5px;
    border-radius: 7px;
    padding: 5px;
    width: 100px;
}
