.homepage-container {
    margin: 10px;
}

.all-workouts-container {
    display: flex;
    overflow-x: auto;
    max-width: 100%;

}

.workout-container {
    border: black solid 1px;
    margin-bottom: 10px;
    width: fit-content;
    margin-right: 15px;
    border-radius: 20px;
}

.workout-container:hover {
    cursor: pointer;
    box-shadow: black 0px 0px 10px;
}

.workout-preview-image {
    width: 400px;
    height: 200px;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

#workout-text-container {
    padding: 0px 0px 5px 15px;
}

.title {
    font-size: larger;
    font-weight: bold;
    color: #202353
}

.workout-time {
    margin-top: 5px;
}
