#landing-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lp-logo {
    width: 250px;
}

#landing-page-container>* {
    margin: 10px;
}


.lp-button {
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

#sub-heading {
    color: gray;
}
