.link-img {
    height: 30px;
    padding-top: 10px;
    padding-right: 10px;
}

.icon:hover {
    cursor: pointer;
}

.footer-container {
    /* position: absolute; */
    bottom: 0px;
    width: 100%;
    background-color: white;
}

.footer-title {
    font-size: x-large;
    font-weight: bold;
}

.footer-flexbox {
    display: flex;
    align-items: center;
}

.footer-profile-img {
    width: 100px;
    margin-right: 15px;
}
