.log-in-modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-bottom: 0px;
}

.log-in-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.log-in-form-container>* {
    margin-bottom: 10px;
}

.login-signup-input {
    width: 100%;
}

.log-in-button {
    background-color: #202353;
    color: white;
    margin: 5px;
    padding: 5px;
    border-radius: 7px;
    width: 100%;
}

.text-change:hover {
    color: #97c4e2
}

.demo-user-button {
    margin-bottom: 10px;
}
