.profile-picture {
    max-width: 40px;
    min-width: 40px;
    /* margin-left: 20px; */
    border-radius: 20px;
    border: black solid 1px;
    box-shadow: 1px 1px 10px gray;
}

.friend-container {
    display: grid;
    grid-template-rows: 20px 10px 20px;
    grid-template-columns: 40px 240px 40px 40px;
}

.accepted-friends-list {
    margin-top: 15px;
}

.add-friend-container {
    margin-top: 30px;
}

.grid-profile-picture {
    display: grid;
    grid-row: 1/4;
    align-self: center;
}

.grid-friend-name {
    display: grid;
    grid-row: 1/3;
    grid-column: 2/2;
    margin-left: 20px;
    align-self: center;
}

.grid-friends-since {
    display: grid;
    grid-row: 3/3;
    grid-column: 2/2;
    margin-left: 20px;
    align-self: start;
}

.accept-friend {
    color: rgb(120, 199, 120);
    font-size: xx-large;
}

.grid-accept-friend {
    display: grid;
    grid-row: 1/4;
    grid-column: 3/4;
    align-self: center;
}


.grid-remove-friend {
    display: grid;
    grid-row: 1/4;
    grid-column: 4/5;
    align-self: center;
}

.remove-friend {
    color: rgb(185, 34, 34);
    font-size: xx-large;
}
