#logo {
  max-width: 65px;
}

#navigation-container {
  display: flex;
  justify-content: space-between;
  /* background-color: #8C94AC; */
}

#nav-text-container {
  display: flex;
}

/* #nav-text-container>* {
  margin: 0px 20px;
} */

.user-profile-picture {
  width: 40px;
  height: 40px;

  margin-left: 20px;
  border-radius: 20px;
}

.button:hover {
  cursor: pointer;
}

.login-button {
  color: white;
  background-color: #202353;
  padding-top: 10px;
  padding: 10px;
  height: 20px;
  border-radius: 10px;
}

.user-button {
  background-color: #202353;
  color: white;
  padding: 7px 13px;
  border-radius: 10px;
  height: 40px;
  margin-top: 0px;
}

.nav-text {
  margin: 10px 20px;
  color: #202353;
}

.nav-text:hover {
  cursor: pointer;
}

.profile-dropdown {
  position: absolute;
  margin-right: 20px;
  padding: 10px;
  top: 60px;
  right: 0px;

  border: black solid 1px;
}

.profile-dropdown>* {
  margin-bottom: 5px;
}
